<nav>
    <div class="site-title">
       <a href="/">Rifqi F</a>
       <p>Sedang Belajar NODE !! </p> 
    </div>
    <ul>
        <li><a href="/">Homepage</a></li>
        <li><a href="/komentar">Komentar</a></li>
        <li><a href="/komentar/add">Add</a></li>
    </ul>
</nav>