<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BELAJAR NODE JS</title>
</head>
<body>
    <nav>
        <div class="site-title">
           <a href="/">Rifqi F</a>
           <p>Sedang Belajar NODE !!</p> 
        </div>
        <ul>
            <li><a href="/">Homepage</a></li>
            <li><a href="/komentar">Komentar</a></li>
            <li><a href="/komentar/add">Add</a></li>
        </ul>
    </nav>
    <div class="work-content">
        <h1>DA GA ADA ATUH PAGENNYA</h1>
    </div>
</body>
</html>