<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/nav.ejs') %> 
<body>
    <%- include('./partials/nav.ejs') %> 
    <div class="work-content">
        <h1>DA GA ADA ATUH PAGENNYA</h1>
    </div>
    <%- include('./partials/footer.ejs') %> 
</body>
</html>