<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BELAJAR NODE JS || <%= title %> </title>
</head>
<body>
    <nav>
        <div class="site-title">
           <a href="/">Rifqi F</a>
           <p>Sedang Belajar NODE !!</p> 
        </div>
        <ul>
            <li><a href="/">Homepage</a></li>
            <li><a href="/komentar">Komentar</a></li>
            <li><a href="/komentar/add">Tambah</a></li>
        </ul>
    </nav>
    <h1 class="text-primary">Komentar</h1>
    <div class="content">
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ea sit aperiam enim, iusto delectus iste tempora, repellendus consectetur rem, porro eligendi aut dignissimos saepe asperiores odit sapiente dicta perspiciatis corporis.</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ea sit aperiam enim, iusto delectus iste tempora, repellendus consectetur rem, porro eligendi aut dignissimos saepe asperiores odit sapiente dicta perspiciatis corporis.</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ea sit aperiam enim, iusto delectus iste tempora, repellendus consectetur rem, porro eligendi aut dignissimos saepe asperiores odit sapiente dicta perspiciatis corporis.</p>
    </div>
</body>
</html>