<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/nav.ejs') %> 
<body>
    <%- include('./partials/nav.ejs') %> 

    <h1 class="text-primary">Tambah Komentar</h1>
    <div class="content create-comment">
        <form>
            <label for="title">Judul Komentar</label>
            <input type="text" id="title" required>
            <label for="komentator">komentator</label>
            <input type="text" id="komentator" required>
            <label for="body">Komentar :</label>
            <textarea name="komentar" id="komentar" cols="30" rows="10"></textarea>
            <button>Submit</button>
        </form>
    </div>
    <%- include('./partials/footer.ejs') %> 
</body>
</html>